*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-weight: bold;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/backg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}


ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
}

.main {
    width: 50%;
    height: 80%;
    position: absolute;
    top: 1vh;
    left: 10vh;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.mainRow {
    height: 190px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.mainRow2 {
    display: flex;
    flex-direction: row;
    position: relative;
    position: absolute;
    top: 95%;
    left: 24vh;
}

.fi {
    color: white;
    font-size: 0.7em;
}

.se {
    margin-left: 1em;
    color: #C50000;
    font-size: 0.7em;
}

.Hospital {
    font-size: 5em;
    color: #C50000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Hospital span {
    margin-top: 115px;
    margin-left: 20px;
    font-size: 1.5em;
    color: #F44545;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}


.input {
    margin-right: 55px;
    width: 80vb;
    height: 10vh;
    border-radius: 10px;
    box-shadow: -2px 2px 2px 2px #C50000;
    border: 0px;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 27px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

.input::placeholder {
    color: #cd8181;
    opacity: 1;
}

input[type="date"] {
    color: #cd8181;
}

.Forgot {
    color: #C50000;
}

.submit {
    height: 3em;
    width: 9em;
    background-color: #C50000;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
}

.type {
    margin-bottom: 30px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.muli {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 77%;
}

.label {
    color: white;
    font-size: 20px;
}

.choose {
    width: 80vb;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.left {
    height: 100%;
    width: 50%;
    background-color: #C50000;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color: white;

}

.right {
    height: 100%;
    width: 50%;
    background-color: white;
    text-align: center;
    border: none;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color: #C50000;
}

.terms {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.check {
    width: 18px;
    height: 18px;
    accent-color: #C50000;
}

.fancy-auth-link {
    display: flex;
    gap: 8px;
    font-size: 1.1rem;
    font-weight: 300;
    color: white !important;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    margin-top: 20px;
    align-items: center;
}

.fancy-auth-link .link-text {
    color: #ff4d4d !important;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
}

.fancy-auth-link .link-text:hover {
    border-bottom-color: #ff4d4d;
    text-shadow: 0 0 15px rgba(255, 77, 77, 0.5);
}

.fancy-terms {
    color: white !important;
    font-size: 0.95rem;
    font-weight: 300;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    margin-left: 10px;
}